@import "compass";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

$font-stack:    Helvetica, sans-serif;


@mixin cover-background($img-uri) {
	background: url($img-uri) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.nonebg {
	//@include cover-background('../images/fond.jpg');
}

.couplebg {
	@include cover-background('../images/couple2.jpg');
}

.hearts {
	@include cover-background('../images/couple.png');
	min-height: 700px;
}

nav {
	margin-bottom: 2rem;
}

.bleu {
	color: $primary-color;
}

.rose {
	color: $secondary-color;
}

#profilPhoto
{
	width: 100%;
	height: auto;
	border: 3px solid white;
	@include box-shadow(rgba(#4C4A4E, 0.4) 0 0 25px, rgba(#302F31, 0.2) 0 0 3px 1px inset);
}


#petPhoto
{
	z-index: 500;
	position: relative;
	margin-top: -25%;
	width: 50%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	@include box-shadow(rgba(#4C4A4E, 0.3) 0 0 10px);
	border: 1px solid rgba(255, 255, 255, 0.7);
}

.bleuPanel {
	border-top: 3px solid $primary-color;
}

.rosePanel {
	border-top: 3px solid $secondary-color;
}

.iam {
	font-size: 2rem;
}

.profilBioTitle {
	span {

	}
	.name {
		font-size: 2.5rem;
		font-weight: bold;
	}

	.subProfil {
		font-size: 2rem;
	}
}

.profilPhotos {
	text-align: center;
}

#infosProfil {

	text-align : center;

	.s5 {
		text-align : center;
		margin: 0 3%;
	}

	span{
		display: block;
		text-align: left;
		padding: 1rem 0.5rem ;
		border-bottom: 1px	solid #CEC9D3;
	}
	.informationName span {
		color: lighten($primary-color, 15%) ;
	}
	.informationValue span {
		color : #272628;
	}

}

#likes {

	padding: 1rem;
	vertical-align: bottom;
	padding-top: 6rem;
	text-align:center;

	.fa {
		font-weight: 500;
		font-size: 3rem;
		color: darken($primary-color, 15%) ;
		margin: 0 0.5rem ;
	}
	.cpt {
		font-weight: 700;
		font-size: 2.6rem;
	}
}



.transparent {
	background: transparent!important;
}


h3 {
	width: 100%;
	color : white ;
	text-transform: uppercase;
}