<div class="container">
	<div class="row">
		<div class="col s6 ">
			<img src="img/profil.png" alt="Photo de profil" id="profilPhoto">
			<img src="img/animal.png" alt="Animal de compagnie" id="petPhoto">
		</div>
		<div class="col s6 ">
			<div class="profilBioTitle blue">
				<span class="name"></span>
			</div>
			<span class="subProfil"></span>
			<br>
			<br>
			<div class="profilBioTitle blue">
				<span class="name"></span>
			</div>
			<span class="subProfil"></span>

			<span class="subProfil blue"></span>
		</div>
	</div>
	<div class="row">
		<div class="col s12 ">
			<div id="cptLikes">
				<span class="fa fa-"></span>
				<span class="">

					<span class="">
						Likes
					</span>
				</span>
			</div>
		</div>
	</div>
</div>