<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="theme-color" content="#171615">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>{% block title %}Pet Meetings{% endblock %}</title>
	{% stylesheets filter="compass" output="css/all.css"
	"@AppBundle/Resources/public/sass/*.sass" %}
	<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}

	{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	{% endblock %}



</head>
<body>
	{% block header %}{% endblock %}
	{% block body %}{% endblock %}
	{% block footer %}{% endblock %}
	{% block javascripts %}
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
	{% endblock %}
</body>
</html>
