{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

    {% for acceptedWoof in app.user.acceptedWoof %}
        <a href="{{ path('user_find', {'id': acceptedWoof.acceptedUser.id}) }}"> {{ acceptedWoof.acceptedUser.username }} </a>

        {% if acceptedWoof.mail is not empty %}
            <a href=""> {{ acceptedWoof.mail.last.text }} </a>
        {% endif %}

    {% endfor %}

{% endblock %}