{% extends "AppBundle::layout.html.twig" %}

{% block body %}

    <div>
        Vous êtes désormais un membre Premium.
        Vous pouvez d'ores et déjà:
        - Envoyer 5 Woof par jour
    </div>

{% endblock %}